<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Run New Campaign</title>
  </head>
  <body>
    <p class='desc'>
      <span style='font-weight: 700;color: #000;'>Hi
        {{name}},</span>
      a new campaign for vacancy
      {{vacancy}}
      run by Admin.
    </p>
    <p class='desc'>Campaign is run from
      {{fromDate}}
      to
      {{toDate}}.Your vacancy is ready for accepting applications.</p>
    <b>@MyFutureProspects</b>
  </body>
</html>