<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Approve Vacancy</title>
  </head>
  <body>
    <p class='desc'>
      <span style='font-weight: 700;color: #000;'>Hi
        {{name}},</span>
      {{{inviteMessage}}}
    </p>
    <a
      href='http://138.68.154.193/job-detail/{{id}}'
      style='background-color: #0065A1;'
      class='btn'
    ><button style='border: none;padding: 5px 8px;'>
        View Vacancy</button></a>
    <p></p>
    <p>Or you can copy link if button is not working:
      http://138.68.154.193/job-detail/{{id}}
    </p>
  </body>
</html>