<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Remove Super Admin</title>
  </head>
  <body>
    <p class='desc'>
      <span style='font-weight: 700;color: #000;'>Hi
        {{name}},</span>
      this reminder message to you for change your role super admin to admin by {{superAdmin}}.
    </p>
    <p class='desc'>If you've any query related to this action please contact with {{superAdmin}} to {{superAdminEmail}}</p>
    <b>@MyFutureProspects</b>
  </body>
</html>